# Python Cache and Virtual Environments
__pycache__/
*.pyc
.env
.venv/
env/
venv/
.ipynb_checkpoints/

# Temporary Outputs (Do NOT ignore mlruns/ anymore!)
catboost_info/
football_dataset/

# ---------------------------------------------------
# CRITICAL FOR AUTOMATION:
# Do NOT ignore model/ or mlruns/ so GitHub Actions 
# can save your models and experiment history!
# ---------------------------------------------------

# Ignore raw data EXCEPT the files we explicitly need for the API & Training
data/*
!data/football_data.db
!data/df1_raw.csv
!data/df1_raw_laliga.csv
!data/team_df_raw.csv
!data/team_df_raw_laliga.csv
!data/X_train_epl.csv
!data/y_train_epl.csv
!data/X_train_laliga.csv
!data/y_train_laliga.csv