# Datasets and Databases
*.csv
*.db
data/
football_dataset/

# Machine Learning Models & Artifacts
*.pkl
*.cbm
model/
mlruns/
catboost_info/

# Python Cache and Environments
__pycache__/
*.pyc
.env
.venv/
env/
venv/
.ipynb_checkpoints/