# Python Cache and Virtual Environments
__pycache__/
*.pyc
.env
.venv/
env/
venv/
.ipynb_checkpoints/

# ML Experiment Logs & Temporary Outputs
catboost_info/
mlruns/
football_dataset/

# Ignore everything in data EXCEPT football_data.db
data/*
!data/football_data.db

# NOTE: Do NOT ignore model/, *.pkl, *.cbm, df1_raw.csv, or team_df_raw.csv 
# because Render requires them to start your API server!